mDNS should probe and announce on link change

The mDNS responder implemented in Zephyr responds correctly to mDNS queries, but it does not probe and announce as it should on startup and link change.

[RFC 6762 Section 8](https://www.rfc-editor.org/rfc/rfc6762.html#section-8)  mandates that probing and announcing is done whenever network connectivity has changed in some relevant way. This is not done in Zephyr today.

Without this feature it is difficult for peers to handle changes in IP address gracefully.
