Existing LwM2M block-wise transfer shall be reset when receiving a new block #0 

While testing the LwM2M firmware object in push mode, I found out that it is not possible to interrupt an ongoing block-wise transfer.
   
For various reasons, a LwM2M server might interrupt an ongoing block-wise transfer when writing to a large resource on a Zephyr device, and restart it from block #0. For instance, the server might need to transfer a different file.
Currently, this condition is not detected by the LwM2M library, and block #0 is treated as a duplicate of an already received block.

As stated in "[RFC7959], Section 2.5":
   "The Block1 Option provides no way for a single endpoint to perform multiple concurrently proceeding block-wise request payload transfer (e.g., PUT or POST) operations to the same resource.  Starting a new block-wise sequence of requests to the same resource (before an old sequence from the same endpoint was finished) simply overwrites the context the server may still be keeping."