Thread Protocol

**_Reported by Gajinder Vij:_**
As a Zephyr developer, I would like native support for the Thread Protocol v1.1 so that I can rapidly deploy Thread Protocol compatible solutions.

- [ ] GH-3858: Enable OpenThread support for Zephyr
- [ ] GH-2345: Thread requirements in RFC4944
- [ ] GH-2344: Thread requirements in RFC4443
- [ ] GH-2343: Thread requirements in RFC4291
- [ ] GH-2342: Thread requirements in RFC2460
- [ ] GH-2341: Thread requirements in RFC1122 
- [x] GH-2250: Port AES-CMAC-PRF-128 [RFC 4615] encryption library for Thread support

(Imported from Jira ZEP-337)

closing: No longer relevant. Will reopen if Zephyr will get native Thread stack,