net: dns: dns-sd: support for dns service discovery

**Is your enhancement proposal related to a problem? Please describe.**
Zephyr currently supports [mDNS](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/dns/mdns_responder.c), which allows devices to be discovered on the network.

e.g. 
```bash
$ avahi-resolve -6 -n zephyr.local
zephyr.local	2001:db8::1
```

However, there is no way to discover which services are offered by a device yet (e.g. `avahi-browse` does not return anything containing "zephyr").

That's where [DNS Service Discovery](https://tools.ietf.org/html/rfc6763) comes in to play.

If we were running an embedded HTTP server on a Zephyr device, we would expect something of the following form:

```bash
$ avahi-browse _http._tcp
+ lowpan0 IPv6 zephyr    Web Site   local
```

Also, just checking, and by inspection with Wireshark, Google's consumer products (e.g. Chromecast) dynamically adjust the content of DNS-SD responses based on what devices are doing.. which is simultaneously smart but also somewhat terrifying, since that is available to any device on the network.

The DNS-SD records (PTR, TXT, SRV) can be queried as shown below.

```bash
$ avahi-browse -r _googlecast._.tcp
+ enp2s0f0 IPv4 Chromecast-b699f2d567127eb66882e83c6de0039d   _googlecast._tcp     local
= enp2s0f0 IPv4 Chromecast-b699f2d567127eb66882e83c6de0039d   _googlecast._tcp     local
   hostname = [b699f2d5-6712-7eb6-6882-e83c6de0039d.local]
   address = [192.168.1.142]
   port = [8009]
   txt = ["rs=Casting: Netflix" "nf=1" "bs=FA8FCA94965F" "st=1" "ca=4101" "fn=Basement TV" \
  "ic=/setup/icon.png" "md=Chromecast" "ve=05" "rm=XXXXXXXXXXXXXXXX" \
  "cd=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" "id=b699f2d567127eb66882e83c6de0039d"]
^CGot SIGINT, quitting.
```

By inspecting the [mDNS code](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/dns/mdns_responder.c#L264), it's also clear that DNS-SD was on the agenda.

```cpp
/* TODO: support also service PTRs */
```

**Describe the solution you'd like**

There are a number of APIs in existence for DNS-SD. Most of them allow you to register an "empty" service descriptor (i.e. one without any key-value pairs).

E.g. one can [register a service](https://macchina.io/docs/00200-DNSSDTutorialAndUserGuide.html) with [macchina.io](https://macchina.io/docs/Poco.DNSSD.Service.html) like so

```cpp
Poco::DNSSD::DNSSDResponder dnssdResponder;
dnssdResponder.start();

Poco::DNSSD::Service service("_http._tcp", 8080);
Poco::DNSSD::ServiceHandle serviceHandle = dnssdResponder.registerService(service);
```

For now it would be good to get empty service records to work as a start. While some devices may opt to dynamically adjust their DNS-SD records (see e.g Chromecast example), doing so is not at all required. That means DNS-SD data can be compile-time const. With that property, it might be possible to use macros to assemble records into an iterable section in ROM. It may also be possible to use `BUILD_ASSERT()` to ensure that certain constraints are satisfied at compile time, such as the length (in bytes) of the service category, or the integer port used.

My hope is that it would be (at most) a single line of code to add basic service discovery to most existing applications and services. E.g. something along the lines of:

```cpp
DNS_SD_REGISTER_SERVICE(http, "_http._tcp", 80);
```

There should be a few tests as well to validate that things work as expected in both optimal and erroneous situations.

**Describe alternatives you've considered**

I might do a quick PoC with runtime calls to register / deregister a service, but I see that as problematic for a number of reasons

- require dynamic memory allocation, or
- require a linked-list type of structure
- inherent permission / security issues (would we really want this to be a syscall?)

**Additional context**

DNS-SD is covered in [RFC 6763](https://tools.ietf.org/html/rfc6763)
mDNS is covered in [RFC 6762](https://tools.ietf.org/html/rfc6762)

This will be used for [Greybus](https://github.com/cfriedt/greybus-for-zephyr) with something along the lines of 

```cpp
DNS_SD_REGISTER_SERVICE(greybus, "_greybus._tcp", 4242);
```

cc: @tbursztyka 

This feature would be nice if you have time to implement it. :+1: 

> * require dynamic memory allocation, or

Please no dynamic memory allocation. We can do it the same way as other similar network functionality is done. So let the user to decide how many services to support and allocate that at compile time. The API would then just return -ENOENT if there are no service "slots" available. We could provide a static service allocation macros and also an API to dynamically allocate a service. In both cases, the service would start to announce itself after the socket is bound by bind() call. We probably need to allow user to mark an already bound socket to be discoverable.

> * inherent permission / security issues (would we really want this to be a syscall?)

We need to support usermode too.


> > * require dynamic memory allocation, or
> 
> Please no dynamic memory allocation. We can do it the same way as other similar network functionality is done.

I think I won't even use dynamic memory allocation for a PoC. I may have miscommunicated, but I was arguing **against** that.

It may be easy enough to use static / const defines declared to be part of a certain rom section that is iterable.

> We probably need to allow user to mark an already bound socket to be discoverable.

Technically speaking, the advertisement of a service is not really tied to its functionality, so no need to even check. Zephyr has no registry of running services / claimed ports. Probably out of scope for this item.

> > * inherent permission / security issues (would we really want this to be a syscall?)
> 
> We need to support usermode too.

Note, this is not a service discovery application, only the "service advertisement service", so it's likely that usermode is not necessary as long as services are registered at compile-time.

However, just in the process of analyzing what my is on my personal network with a Google Home Mini and a Chromecast, it is very evident that Google is adjusting mDNS and DNS-SD records dynamically (you and by extension, everyone, can see what is playing on your Chromecase with `avahi-browse -r _googlecast._tcp`).

I went over my implementation about 100x and then I remembered this.

https://tools.ietf.org/html/rfc1123#page-73
```
         6.1.2.4  Compression: RFC-1035 Section 4.1.4

            Name servers MUST use compression in responses.

            DISCUSSION:
                 Compression is essential to avoid overflowing UDP
                 datagrams; see Section 6.1.3.2.
```

This makes things slightly more complicated. Still doable. Just a bit of an annoyance. 

> This makes things slightly more complicated. Still doable. Just a bit of an annoyance.

Yes, DNS compression is quite annoying feature. We have some functions in `subsys/net/lib/dns/dns_pack.*` to handle it.

can you write the code here