networking / openthread: ipv6 mesh-local all-nodes multicast (ff03::1) packets are dropped by zephyr ipv6 stack

**Describe the bug**
Zephyr recently started dropping mesh-local all-nodes multicast (dest ff03::1) packets delivered from openthread l2 when using the bsd sockets api in an application. sockets api still receives link local all-nodes multicasts (dest ff02::1) as expected. This regression seems to only affect the zephyr networking stack, as packets are processed as expected by openthread. From the openthread CLI, all ping to FF02::1 and FF03::1 work normally between all devices as usual. Using openthread's udp cli commands to bind to a port, the device receives all FF02::1 and FF03::1 udp multicasts as expected. However application layer does not receive the FF03::1, but only FF02::1 broadcasts when binding through the bsd sockets api.

**To Reproduce**
-Use two zephyr nodes running openthread networking
-Set CONFIG_OPENTHREAD_L2_LOG_LEVEL_DBG=y and CONFIG_NET_IPV6_LOG_LEVEL_DBG=y 
-On one node in application code use the bsd sockets api to create datagram server socket, bind to :: and use recvfrom to listen for datagram messages (similarly to the echo_server sample).
-From another node, use the openthread cli to send a udp message to FF02::1, then another to FF03::1
-Observe that the FF02:1 message is passed through to upper layers, but the FF03::1 is blocked by Zephyr ipv6 processing and prints message "DROP: packet for unjoined multicast address."

**Expected behavior**
When using openthread L2, All ipv6 packets destined for link-local AND mesh-local all nodes addresses (FF02::1 and FF03::1 messages) should be delivered to upper layers and received by bsd sockets api. 

**Environment**
 - OS: Linux
 - Toolchain: Zephyr SDK
 - Commit: master


**Additional Context**
[This Zephyr commit](https://github.com/zephyrproject-rtos/zephyr/commit/b7b73d016017ebeec7cbf56e683793b27f260671) adds code to net_ipv6_input() to filter multicast messages coming from lower layers, specifically those destined for a non all-nodes multicast address that is not joined.

This change is made to reflect IPV6 Addressing RFC 4291 Section 2.7.1 and 2.8, which specifies that a host must respect all-nodes addresses FF01::1 and FF02::1, as well as any joined multicast group addresses. This differs from Thread which also specifies FF03::1 as a mesh-local all-nodes multicast address.

The above change causes the issue of packet drop when using Zephyr's bsd sockets api on a mesh L2, because Zephyr doesn't respect FF03::1 as an all-nodes multicast address by default, and multicast addresses added to Zephyr through the openthread integration are not joined by default, so the packets are dropped.

suggested ways around this at application level:
- Use OpenThread API directly instead of bsd sockets api - Not ideal for portability but works around issue.
- Create and join a unique and application-specific multicast group from application layer - Good solution, but doesn't address the issue that applications with openthread L2 should be able to expect delivery of messages to bsd sockets api from FF03::1.
- Application itself can call net_if_ipv6_maddr_join() manually to join FF03::1 and other desired thread-specific multicast addresses - This works but seems improper to join a reserved all-nodes address, and less portable since applications now need knowledge of mesh-specific things.

suggested ways to fix this in Zephyr:
- Zephyr's net_ipv6_input() multicast packet filtering could be modified to exempt FF03:: from packet drop. This could be ok solution ... net_ipv6_is_addr_mcast_mesh() could be used to prevent drop of multicast packets from mesh-local addresses, but this may be improper because Zephyr IPV6 implementation perhaps shouldn't know about mesh-specific addresses which aren't specified in RFC.
- Zephyr openthread shim could be modified to call net_if_ipv6_maddr_join() on non-interface and non-link-local multicast addresses during the process of adding an openthread multicast address to Zephyr - this also works, but again involves calling join on a reserved all-nodes address which feels a bit strange, however it has the benefit of keeping the fix in the openthread shim.

**Edit**
I submitted a pull request using this last suggestion to fix in the openthread shim layer of Zephyr. My reasoning is that this keeps all the code within openthread parts of zephyr, meaning better portability and the changes only affect builds that have openthread enabled for L2.
