mDNS address query responses only include one IPv4/IPv6 address

### Describe the bug

When making a DNS-SD query to a Zephyr target running an mDNS and DNS-SD responder, the additional records included in the response only contain one IPv6 address when the interface has more than one IPv6 address assigned. RFC 6763 Section 12.1 "DNS Additional Record Generation" - "PTR Records" states that "the server/responder SHOULD include the following additional records ... All address records (type "A" and "AAAA") named in the SRV rdata." The Zephyr responder doesn't do this.
https://datatracker.ietf.org/doc/html/rfc6763

Furthermore, RFC 6762 Section 6.2 "Responding to Address Queries" states "When a Multicast DNS responder sends a Multicast DNS response message containing its own address records, it MUST include all addresses that are valid on the interface on which it is sending the message ...". Zephyr exhibits the same behaviour here where the query response only contains one IPv6 address, and here the RFC specifies a MUST requirement.
https://datatracker.ietf.org/doc/html/rfc6762

RFC 6762 Section 6.2 gives an example and rationale for this requirement:
> For example, if an interface has both an IPv6 link-local and an IPv6 routable address, both should be included in the response message so that queriers receive both and can make their own choice about which to use. This allows a querier that only has an IPv6 link-local address to connect to the link-local address, and a different querier that has an IPv6 routable address to connect to the IPv6 routable address instead.

This bug appears to be a deviation from the RFC, and can cause issues if a querier wishes to discover all addresses for an interface and make its own choice of which to use. However, it can be even more problematic as the current implementation in Zephyr selects the address to include in the mDNS response based on the mDNS query's source address. This can result in a response containing no address at all, for example in the following case:
* Querier has an IPv6 link-local address and a routable IPv6 address
* Zephyr-based responder has only an IPv6 link-local address
* Querier makes an mDNS query using its routable IPv6 address as the source address
* Zephyr responder determines to include only routable IPv6 address in mDNS response, which it doesn't have, so no address is included in the response

<img width="1619" height="612" alt="Image" src="https://github.com/user-attachments/assets/9b9b6f1f-0a9a-4c9b-a6ce-64298b3d0d49" />

<img width="1632" height="529" alt="Image" src="https://github.com/user-attachments/assets/c5391fb6-aab9-44ae-91f7-617eb88ccad7" />

I've observed this behaviour when making mDNS/DNS-SD queries from a Python script running on Windows. I'm not sure why the source address for the queries is inconsistent, but it makes it impossible to reliably resolve a hostname to an IP address for the Zephyr target.

### Regression

- [ ] This is a regression.

### Steps to reproduce

To reproduce getting only one IPv6 address in the mDNS response rather than two:
1. Build a Zephyr app with IPv6, mDNS responder, and DNS-SD responder enabled, and assign a routable IPv6 address to the interface in addition to the auto-configured link-local address. Advertise a DNS-SD service, and bind the port as necessary
2. Network a development machine to the Zephyr target on a local-link. Enable IPv6 on the development machine's interface and assign a routable IPv6 address in addition to the auto-configured link-local address.
3. Use your mDNS/DNS-SD querier/resolver/browser tool of choice on the development machine to issue an mDNS query to resolve the advertised service or target hostname
4. Use a traffic capture tool such as Wireshark to observe the mDNS response from the Zephyr target (note that some mDNS query/resolve tools only display one IP address even if multiple are returned - viewing the packet directly tells the real story)
5. Observe that only one IPv6 address is included in the mDNS response, even though the Zephyr target has two valid IPv6 addresses

To reproduce getting no IPv6 addresses in the mDNS response:
1. As above, but do not assign a routable IPv6 address to the Zephyr target's interface
2. Make mDNS queries from the development machine, somehow changing the source address from the development machine's interface's link-local address to its routable address. For me, just issuing the queries a few times (on a Windows 11 machine, onboard Ethernet interface) resulted in the source address changing

### Relevant log output

```shell

```

### Impact

Functional Limitation – Some features not working as expected, but system usable.

### Environment

- OS: Windows 11
- Toolchain: Zephyr SDK 0.17.4
- Zephyr version: v4.3.0

### Additional Context

_No response_